.layout {
    display: flex;
    padding: 24px 20px;
    width: 100%;
    height: 100%;
}

.layout-col {
    display: flex;
}

.layout-col.vertical {
    flex-direction: column;
}

.items {
    width: 32px;
}

.item {
    width: 100%;
    height: 32px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    border-bottom: 1px solid #FFFFFF;
}

.line {
    margin: 0 16px;
    width: 32px;
}

.line .item {
    cursor: pointer;
}

.group {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.strategies {
    display: flex;
}

.strategy {
    width: 64px;
}

.strategy .items {
    width: 48px;
}

.strategy.strategy-repeats {
    width: 144px;
    margin-right: 12px;
}
.strategy.strategy-last-numbers {
    width: 280px;
    height: 160px;
    margin-right: 20px;
}

.strategy.strategy-repeats .items {
    width: 166px;
    border-left: 4px solid cornflowerblue;
    border-right: 2px solid darkgrey;
    box-sizing: border-box;
}
.strategy.strategy-last-numbers .items {
    width: 100%;
    height: 100%;
}

.strategy.strategy-repeats .items .item {
    justify-content: flex-end;
}

.strategy.strategy-repeats .items .item:not(:empty) {
    padding-right: 8px;
}

.strategy.strategy-last-numbers .items .item {
    word-spacing: 7px;
    justify-content: flex-start;
    padding-left: 12px;
    cursor: pointer;
}

.strategy.numbers-position {
    width: 80px;
    margin-right: 20px;
}

.strategy.numbers-position .items {
    width: 100%;
}

.control-button {
    width: 64px;
    height: 32px;
    box-sizing: border-box;
    color: white;
    font-size: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin-right: 16px;
}

.custom_numbers {
    width: 100%;
    height: 24px;
    margin-bottom: 18px;
}

.custom_numbers input {
    height: 100%;
}
