.red {
    background-color: #ff7c00;
    color: #232323;
}

.black {
    background-color: #343434;
    color: rgba(220, 220, 220, 1);
}

.green {
    background-color: #056A00;
    color: rgba(220, 220, 220, 1);
}

.neutral {
    background-color: burlywood;
    color: #232323;
}

.blue {
    background-color: lightblue;
}

.cold {
    background-color: antiquewhite;
}

.negative-1 {
    background-color: burlywood;
}

.positive-2 {
    background-color: darkkhaki;
}

.positive-3 {
    background-color: darkseagreen;
}

.positive-4 {
    background-color: cadetblue;
}

.bold {
    font-weight: bold;
    border: 2px solid #343434;
}
