.result {
    margin-right: 24px;
}

.result .items {
    width: 100%;
}

.result .item {
    justify-content: flex-start;
}

.result .container {
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    width: 100px;
    height: auto;
}

.result .number {
    box-sizing: border-box;
    width: 32px;
    height: 32px;
    color: #343434;
    padding: 2px 8px;
}

.period {
    width: 32px;
}

.selected_numbers_container,
.selected_numbers_repeats {
    width: 80px;
}

.selected_numbers_repeats {
    box-sizing: border-box;
    margin-bottom: 18px;
    margin-right: 20px;
    height: 24px;
}

.selected_numbers_repeats input {
    height: 100%;
    width: 100%;
}

.selected_number {
    box-sizing: border-box;
    width: 80px;
    height: 32px;
    background-color: burlywood;
    color: #232323;
    padding: 7px 0 0 12px;
    cursor: pointer;
    font-weight: bold;
    margin-bottom: 20px;
}
